<!DOCTYPE html>
<html lang="en">
<head>
  <title>BloggedApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="d-flex flex-column">
<%= render 'layouts/nav' %>
<%= render 'layouts/messages' %>
<div class="flex-grow-1 flex-shrink-0">
  <%= yield %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
